<h2>Hey you here are information about : <%= @restaurant.name %></h2>

<ul class ="list-group">
  <li class="list-group-item">Address :<%= @restaurant.address %></li>
  <li class="list-group-item">Phone number :<%= @restaurant.phone_number %></li>
  <li class="list-group-item">Category : <%= @restaurant.category %></li>
  <li class="list-group-item">Reviews :
    <ul class="list-group">
      <% @restaurant.reviews.each do |review| %>
        <li class="list-group-item"><%= review.rating %> - <%= review.content %></li>
      <% end %>
    </ul>
  </li>
</ul>

<%= link_to 'Back', restaurants_path, class:"btn btn-primary" %>

<div class="container">
  <%= simple_form_for [ @restaurant, @review ] do |f|%>
    <%=f.input :rating %>
    <%=f.input :content %>
    <%=f.submit class:"btn btn-primary"%>
  <% end %>
</div>